name: responsi
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  # Perbaikan: Ubah dari ^3.9.2 menjadi ^3.9.0 agar cocok dengan SDK Anda
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0              
  shared_preferences: ^2.2.2 
  url_launcher: ^6.2.4      
  intl: ^0.19.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true